<nav class="navbar navbar-expand-lg navbar-light bg-light"><<%= render partial: "shared/header" %><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> </button>
<div id="navbarNav" class="collapse navbar-collapse" style="text-align: center;"><a class="nav-link" href="&lt;%=contact_path%&gt;"><strong>Nous contacter</strong></a></div>
<div class="collapse navbar-collapse" style="text-align: center;"><strong><img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></strong></div>
<div class="collapse navbar-collapse" style="text-align: center;">&nbsp;</div>
</nav>
<div class="container" style="text-align: center;"><a href="https://github.com/mocadi-dot">mon github </a></div>
<div class="container" style="text-align: center;">&nbsp;</div>
<div class="container" style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Fernando_Pessoa_Heteron%C3%ADmia.jpg/220px-Fernando_Pessoa_Heteron%C3%ADmia.jpg" alt="anonymat oblige .." width="220" height="277" /></div>
