<nav class="navbar navbar-expand-lg navbar-light bg-light">Accueil</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> </button>
<%= render partial: "shared/header" %>
<div id="navbarNav" class="collapse navbar-collapse">
<ul class="navbar-nav">
<li class="nav-item"><a class="nav-link" href="&lt;%=contact_path%&gt;">Nous contacter</a></li>
</ul>
</div>
</nav>
<h1 style="text-align: center;"><span style="color: #800080;">La Team</span></h1>
<p style="padding-left: 330px;"><span style="color: #800080;">Moridias</span></p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://avatars2.githubusercontent.com/u/59927623?s=460&amp;u=bd49fe40bf7d1cd01405b0c2902a1c3b6b3fe091&amp;v=4" alt="lmoi" width="178" height="178" /></p>
<p style="text-align: center;"><span style="color: #800080;">&nbsp;</span></p>
